# Виртуальное окружение
venv/
env/
.venv/

# Файлы базы данных
*.sqlite3

# Секретные ключи и настройки
# Это критически важно для безопасности!
# Если у вас есть файл с секретными настройками, добавьте его:
# Например, если вы вынесли секретный ключ в local_settings.py:
local_settings.py

# Скомпилированные файлы Python
*.pyc

# Временные файлы PyCharm
.idea/
.DS_Store

# Медиафайлы и статичные файлы (если они не являются частью кода)
/media
/static

# Логи и временные файлы
*.log