{% extends 'main/layout.html' %}

{% block title %}Авторизация{% endblock %}

{% block content %}
<div class="auth-container">
    <h1 class="auth-title">Авторизация</h1>

    <form method="post" class="auth-form">
        {% csrf_token %}
        <div class="form-error">{{ form.non_field_errors }}</div>
        {% for f in form %}
            <div class="mb-3">
                <label for="{{ f.id_for_label }}" class="form-label">{{ f.label }}</label>
                {{ f }}
                <div class="form-error">{{ f.errors }}</div>
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-warning w-100">Войти</button>
    </form>
</div>
{% endblock %}
