{% extends 'main/layout.html' %}

{% block title %}Новости{% endblock %}

{% block content %}
    <div class="features">
        <h1>Новости</h1>
        <p>Следите за последними новостями и обновлениями!<br>
        В этом разделе мы собрали для вас самые актуальные события, которые могут быть полезны и интересны. Здесь вы найдете не только свежие новости, но и аналитические материалы, интервью с экспертами и советы, которые помогут вам лучше ориентироваться в текущих тенденциях.<br>
        Читайте, чтобы не пропустить ничего важного и быть в курсе всех значимых изменений!</p>
        {% if news %}
            {% for el in news %}
                <div class="alert alert-warning">
                    <h3>{{ el.title }}</h3>
                    <p>{{el.anons }}</p>
                    <a href="{% url 'news_detail' el.id %}" class="btn btn-warning">Читать детальнее</a>
                </div>
            {% endfor %}
        {% else %}
            <p>Нет записей!</p>
        {% endif %}


    </div>
{% endblock %}

